{% extends 'base.html' %}
{% block title %}
  Página Inicial - Meu Site
{% endblock %}
{% block content %}
  <h1>Olá, {{ nome_usuario }}!</h1>
  <hr>
  <h3>Nova Tarefa</h3>

  <form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Adicionar Tarefa</button>
  </form>
  
  
  <p>Este HTML está separado do meu código Python.</p>
  
  <h3>Tecnologias que estou aprendendo:</h3>

  <ul>
    {% for tec in tecnologias %}
      <li>{{ tec }}</li>
    {% endfor %}
  </ul>
  
  <hr><h2>Minha lista de tarefas(do Banco de Dados):</h2><hr>
  
  <ul>
    {% for tarefa in tarefas %}
      <li>{{ tarefa.titulo }}
        {% if tarefa.concluida %}
          (Concluída)
        {% else %} 
          (Pendente)
        {% endif %}
        <br>
        <small>Criada em: {{ tarefa.criada_em }}</small>
      </li>
    {% empty %}
      <li>Não há tarefas cadastradas.</li>
    {% endfor %}
  </ul>
{% endblock %}